{% extends 'home.html' %}

{% block content %}
<section>
    <h2>
        <a href="{{ url_for('admin.usuario') }}" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Usuario
        <hr>
    </h2>

    <form action="{{ url_for('formAddUser') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="col">
                    <label for="password">Contraseña</label>
                    <input type="text" name="password"  class="form-control">
                </div>
                <div class="col">
                    <label for="fullname">Nombre Completo</label>
                    <input type="text" name="fullname"  class="form-control">
                </div>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>
    {% endblock %}
